DROP TABLE [dbo].[tblVerify]
GO
DROP TABLE [dbo].[tblUpload]
GO
DROP TABLE [dbo].[tblStaff]
GO
DROP TABLE [dbo].[tblLevel]
GO
DROP TABLE [dbo].[tblDocType]
GO
DROP TABLE [dbo].[tblDept]
GO
DROP TABLE [dbo].[tblAuditor]
GO
DROP TABLE [dbo].[tblAdmin]
GO
DROP PROCEDURE [dbo].[SaveDocument]
GO
DROP PROCEDURE [dbo].[GetStaffDocuments]
GO
DROP PROCEDURE [dbo].[GetStaffDocument]
GO
DROP DATABASE [STAFF_AUDIT.MDF]
GO
CREATE DATABASE [STAFF_AUDIT.MDF] ON  PRIMARY 
( NAME = N'Staff_Audit', FILENAME = N'D:\windows10 backup\DATA\Staff_Audit.mdf' , SIZE = 3456KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Staff_Audit_log', FILENAME = N'D:\windows10 backup\DATA\Staff_Audit_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STAFF_AUDIT.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[GetStaffDocument]
	
	(
	@ID int 
	)
	
AS

Select ID,DocName as Document, DContent as Content,FileExt as FileExtension,UploadDate as DateUpload from tblUpload
Where ID=@ID
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStaffDocuments]
	
	(
	@StaffID int
	)
	
AS

Select ID,DocName, DContent ,FileExt,UploadDate,Descrip,AwardDate,CredentialName from tblUpload
Where StaffID=@StaffID

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveDocument]
	
	(
	@StaffID int,
	@DocName nvarchar(100),
	@DContent Binary,
	@FileExt nvarchar(50),
	@FileDes nvarchar(100)
	)
	
AS

INSERT INTO tblUpload(StaffID,DocName,DContent,FileExt,UploadDate,Descrip)
Values(@StaffID,@DocName,@DContent,@FileExt,getdate(),@FileDes)

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdmin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblAdmin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAuditor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Firstname] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDept](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Names] [nvarchar](50) NULL,
	[Descrip] [nvarchar](100) NULL,
	[RequiredStaff] [int] NULL,
 CONSTRAINT [PK_tblDept] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDocType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Certificate] [nvarchar](50) NULL,
	[Descrip] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblDocType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Names] [nvarchar](50) NULL,
	[Salary] [int] NULL,
	[Allowance] [int] NULL,
 CONSTRAINT [PK_tblLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStaff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[DOB] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[GradeLevel] [int] NULL,
	[Department] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[ContactAddress] [nvarchar](150) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[NextKin] [nvarchar](50) NULL,
	[EntryQualification] [nvarchar](50) NULL,
	[Passport] [image] NULL,
	[Status] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Nationality] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[LGA] [nvarchar](50) NULL,
	[FieldSt] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblStaff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUpload](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[DocName] [nvarchar](100) NOT NULL,
	[DContent] [varbinary](max) NULL,
	[FileExt] [nvarchar](200) NULL,
	[UploadDate] [datetime] NULL,
	[Descrip] [nvarchar](100) NULL,
	[CredentialName] [nvarchar](50) NULL,
	[AwardDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblUpload_1] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC,
	[DocName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVerify](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[VerifyDate] [datetime] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblAdmin] ON 

INSERT [dbo].[tblAdmin] ([admin_id], [username], [password]) VALUES (1, N'joy', N'joy')
SET IDENTITY_INSERT [dbo].[tblAdmin] OFF
SET IDENTITY_INSERT [dbo].[tblDept] ON 

INSERT [dbo].[tblDept] ([ID], [Names], [Descrip], [RequiredStaff]) VALUES (1, N'Human Resource', N'', 20)
INSERT [dbo].[tblDept] ([ID], [Names], [Descrip], [RequiredStaff]) VALUES (2, N'Administrator', N'', 5)
SET IDENTITY_INSERT [dbo].[tblDept] OFF
SET IDENTITY_INSERT [dbo].[tblLevel] ON 

INSERT [dbo].[tblLevel] ([Id], [Names], [Salary], [Allowance]) VALUES (1, N'Level 1', 20000, 1500)
INSERT [dbo].[tblLevel] ([Id], [Names], [Salary], [Allowance]) VALUES (2, N'Level 2', 30000, 3000)
INSERT [dbo].[tblLevel] ([Id], [Names], [Salary], [Allowance]) VALUES (3, N'Level 3', 40000, 4000)
SET IDENTITY_INSERT [dbo].[tblLevel] OFF
SET IDENTITY_INSERT [dbo].[tblStaff] ON 

SET IDENTITY_INSERT [dbo].[tblStaff] OFF
SET IDENTITY_INSERT [dbo].[tblUpload] ON 

SET IDENTITY_INSERT [dbo].[tblUpload] OFF
SET IDENTITY_INSERT [dbo].[tblVerify] ON 

INSERT [dbo].[tblVerify] ([ID], [StaffID], [Status], [VerifyDate]) VALUES (1, 1, N'Verified', CAST(0x0000000000000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblVerify] OFF
ALTER DATABASE [STAFF_AUDIT.MDF] SET  READ_WRITE 
GO
